<script>
    require(["jquery", "cok_controller"], function ($, cok_controller) {
        $(function () {
            $("#loginForm").submit(function () {
                cok_controller.authorise({
                    login: $('#login').val(),
                    password: $('#password').val(),
                });
                return false;
            });
        });
    });
</script>
<div class="sub-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br><br><br><br>
            <form role="form" id="loginForm">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="Login" require>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" require>
                </div>
                <button type="submit" class="btn btn-default btn-block"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</button>
                <p>
                    <a href="#!/login/registration">Registration</a>
                </p>
            </form>
        </div>
    </div>
</div>
