<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/stylesheets/chat.css" rel="stylesheet">
        {{> adminHeader }}


    </head>
    <body>
        {{{ body }}}
        <script>
            require(["app", "modelUsr", "viewUserList", "viewUserDetail"], function (App) {
                var router = new App.MainRouter({});
                Backbone.history.start();
            });
        </script>
    </body>
</html>