<!DOCTYPE html>
<html lang="en">
    <head>
        {{> adminHeader }}
    </head>
    <body class="background-dark">
        <div id="errorCase"></div>
        <div class="container-fluid clearfix">
            <br />
            <div class="row" id="content"></div>
        </div>
        <script>
            require (["jquery", "route", "bootstrap"], function ($, Route) {
                'use strict';
                Route.init();
            });
        </script>
    </body>
</html>
