<ul>
    <li><a href="#/">home</a></li>
    <li><a href="#/user">users</a></li>
    <li><a href="#/chat/index">chat</a></li>
    <li><a href="#/chat/detail/123">123</a></li>
</ul>
<div id="body"></div>

<script>
    require(["jquery", "cok_core", "cok_app"], function ($, cok_core) {
        console.log("start")
        
    });
</script>