<script>
    require(["jquery", "cok_core", "cok_app"], function ($, cok_core) {
        $(function () {
            var mainMenu = false;
            var showMainMenu = function () {
                if (! mainMenu) {
                    mainMenu = true;
                    $('#body').animate({'padding-left': '200px'}, 200);
                    $('#mainMenu').animate({'left': '0px'}, 200);
                } else {
                    mainMenu = false;
                    $('#body').animate({'padding-left': '0px'}, 200);
                    $('#mainMenu').animate({'left': '-200px'}, 200);
                }
            };
            $('#btnMain').click(function () {
                showMainMenu();
            });
        });
    });
</script>
<div id="body"></div>
<div id="mainMenu"></div>
<div id="secondMenu"></div>

<div id="navPanel">
    <div class="clearfix nav-case">
        <button id="btnMain" class="btn btn-default btn-left"><span class="glyphicon glyphicon-th-list"></span></button>
        <button id="btnSecond" class="btn btn-default btn-right"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
</div>
