<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/stylesheets/chat.css" rel="stylesheet">
        <script data-main="javascripts/main" src="/javascripts/require.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>