<script>
    require(["jquery", "lodash", "cok_core", "cok_controller"], function ($, _, cok_core, cok_controller) {
        var _user = cok_controller.checkedUser();
        var token = _user.token;
        $('#chatCreateForm').submit(function () {
            var formData = $(this).serializeArray();
            var users = [];
            if (! _.isEmpty(formData)) {
                _.each(formData, function (val) {
                    users.push(val.name);
                });
                cok_core.call("index.addChat", {token: token, users: users}, function (result) {
                    window.location = "#!web/index";
                });
            } else {
                cok_core.systemMessage($('#messageCase'), 'danger', 'Users is empty')
            }
            return false;
        });
    });
</script>
<br>
<div id="chatCase" class="sub-container">
    <div id="messageCase"></div>
    <form role="form" id="chatCreateForm">
       <div class="row">
        {{#data}}
        <div class="col-xs-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{_id}}"> {{login}}
                </label>
            </div>
        </div>
        {{/data}}
        </div>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </form>
</div>
