<script>
require(["jquery", "lodash", "io", "cok_core", "cok_controller"], function ($, _, io, cok_core, cok_controller) {
    var _user = cok_controller.checkedUser();
    var token = _user.token;
    var chatId = '{{chatId}}';
    var chatItems = [];
    if (_.isEmpty(chatId)) {
        window.location("#!/chat/index");
    }
    // var socket = io('//localhost:3000', { forceNew: true });
    if (window.socket) {
        window.socket.destroy()
    }
    window.socket = new io('//localhost:3000', { forceNew: true });

    window.socket.connect();
    window.socket.emit("join", {token: token, chatId: chatId});


    window.socket.on("err", function (err) {
        cok_core.error(err);
    });
    // add user
    window.socket.on('join', function (userId) {
        if (! userId) {
            window.location("#!/chat/index");
        }
        var tm = Date.now();
        console.log('join ', tm);
    });

    // message
    window.socket.on('message', function (msg) {
        console.log('msg', msg);
        chatItems.push(msg);
        chatTable = new cok_core.tableRender("chatItem", $("#chatItems tbody"), chatItems, {}, chatItems.length);
        chatTable.render();
    });

    $('#chatMessage').submit(function () {
        console.log('click ', chatId)
        var chatText = $('#chatText').val();
        if (! _.isEmpty(chatText)) {
            var formData = {
                token: token,
                chatId: chatId,
                chatText: chatText,
            };
            window.socket.emit('message', formData);
        }
        return false;
    });
});
</script>
<div id="chatCase" class="sub-container">
    <div id="chatItems">
        <table class="table"><tbody></tbody></table>
    </div>
    <form id="chatMessage">
        <input id="chatText" type="text" name="message" value="" required />
        <button id="chatSubmit" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
    </form>
</div>
