{{#data}}
<tr>
    <td>{{fDate}}</td>
    <td>
        <strong><a href="#!/chat/detail/{{_id}}">{{#users}}{{login}}&nbsp;{{/users}}</a></strong>
    </td>
    <td>
        {{#crPermission}}
           <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></button>
           <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        {{/crPermission}}
    </td>
</tr>
{{/data}}
<br />
