<script>
    require(["jquery", "cok_core", "cok_controller"], function ($, cok_core, cok_controller) {
        $(function () {
            var _user = cok_controller.checkedUser();
            var token = _user.token;
            var chatTable;
            var chatRender = function () {
                cok_core.call("index.getChatList", {token: token}, function (result) {
                    chatTable = new cok_core.tableRender("chatList", $("#chatCase tbody"), result[0], {}, 10);
                    chatTable.render();
                });
            }

            chatRender();
            $('#chatCase').on('click', 'th', function () {
                if (chatTable) {
                    chatTable.sort($(this));
                }
            });
            $('#chatCase').on('click', '.cRemove', function () {
                var _id = $(this).attr('data-id');
                cok_core.call("index.removeChat", {token: token, _id: _id}, function (result) {
                    if (result) {
                        cok_core.systemMessage($('#messageCase'), 'success', 'Chat successfully removed');
                        chatRender();
                    }
                });
            });
            $('#chatCase').on('click', '.cLeave', function () {
                var _id = $(this).attr('data-id');
                cok_core.call("index.leaveChat", {token: token, _id: _id}, function (result) {
                    if (result) {
                        cok_core.systemMessage($('#messageCase'), 'success', 'Chat successfully leaved');
                        chatRender();
                    }
                });
            });
        });
    });
</script>
<div id="messageCase"></div>
<div class="sub-container">
    <div class="row">
        <div class="col-md-1"><a class="btn btn-primary" href="#!/chat/create"><span class="glyphicon glyphicon-file"></span> Add</a></div>
        <div class="col-md-8"><div class="cokPager"></div></div>
        <div class="col-md-3"><div class="cokSearch"></div></div>
    </div>
    <table id="chatCase" class="table table-hover">
        <thead>
            <tr>
                <th data-sort="date">Date</th>
                <th>Chat</th>
                <th  class="action-column">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
</div>
