<script>
    require(["jquery", "cok_core", "cok_controller"], function ($, cok_core, cok_controller) {
        var _user = cok_controller.checkedUser();
        var token = _user.token;
        var chatTable;
        cok_core.call("index.getChatList", {token: token}, function (result) {
            chatTable = new cok_core.tableRender("chatList", $("#chatCase tbody"), result[0], {}, 10, $('#chatCasePager'));
            chatTable.render();
        });
        $('#chatCase').on('click', 'th', function () {
            if (chatTable) {
                chatTable.sort($(this));
            }
        });
    });
</script>
<br>
<div class="sub-container">
    <a class="btn btn-default" href="#!/chat/create"><span class="glyphicon glyphicon-file"></span> Add</a>
</div>
<br>
<div class="sub-container">
    <table id="chatCase" class="table table-hover">
        <thead>
            <tr>
                <th data-sort="date">Date</th>
                <th>Chat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="chatCasePager"></div>
</div>
