{{#data}}
    <div class="row">
       <div class="col-xs-10">
            <strong><a href="#!/chat/detail/{{_id}}">{{#users}}{{login}}&nbsp;{{/users}}</a></strong>
       </div>
       <div class="col-xs-2">
           <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></button>
           <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
       </div>
    </div><br>
{{/data}}

