<div class="input-group">
    <input id="searchField" type="text" class="form-control" placeholder="Search ...">
    <span class="input-group-btn">
        <button id="searchBtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
</div>

