{{#each data}}
    {{#rowClose @index 6}}
        </div>
    {{/rowClose}}
    {{#rowOpen @index 6}}
        <div class="row">
    {{/rowOpen}}
    <div class="col-md-2">
        <img src="/images/users/{{name}}" alt="" class="img-thumbnail" data-id="{{_id}}" />
    </div>
    {{#rowClose @index 6}}
        </div>
    {{/rowClose}}
{{/each}}