<script>
require(["jquery", "lodash", "cok_core", "cok_controller", "bootstrap"], function ($, _, cok_core, cok_controller) {
    $(function () {
        var _user = cok_controller.checkedUser();
        var token = _user.token;
        var renderUser = function () {
            cok_core.call("index.getUserPic", {token: token}, function (result) {
                cok_core.render ($("#imagesIndex"), "imagesList", {data: result[0]});
            });
        };

        renderUser();
        $("img").error(function () {
            $(this).unbind("error").attr("src", "/images/no-avatar.jpg");
        });
        $("#imagesIndex").on("click", "img", function () {
            
            $("#imgLarge").attr("src", $(this).attr("src"));
            $("#picUploadModal").modal("show");
        });
        /*$("#picUploadBtn").click(function () {
            var file = document.getElementById("newPic").files[0];
            cok_core.upload("index.mainPicUpload", token, file, function (err, _result) {
                $("#newPic").val("");
                $("#picUploadModal").modal("hide");
                if (err) {
                    cok_core.error(err);
                } else {
                    renderUser();
                }
            });
            return false;
        });*/
        
    });
});
</script>

<div id="picUploadModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content imgLargeCase">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>&nbsp;</span>
            </div>
            <div class="modal-body">
                <img id="imgLarge" src="/images/no-avatar.jpg" alt="" class="img-rounded" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="sub-container" id="imagesIndex"></div>
