{{#data}}
    <div>
        <a href="#!/user/detail/{{_id}}">{{login}}</a>
        <button id="addFriendBtn" data-id="{{_id}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
{{/data}}
