<script>
    require(["jquery", "cok_core"], function ($, cok_core) {
        $(function () {
            $("img").error(function () {
                $(this).unbind("error").attr("src", "/images/no-avatar.jpg");
            });
        });
    });
</script>
{{#data}}
<div class="sub-container">
    <div class="row">
        <div class="col-md-3">
            <img src="/images/users/{{picture}}" alt="" class="img-thumbnail">
            <a href="#!/images/index/{{_id}}">Images</a>
        </div>
        <div class="col-md-9">
            <br>
            <p>{{login}}</p>
            <p>{{email}}</p>
        </div>
    </div>
</div>
{{/data}}
