<script>
    require (["jquery", "lodash", "cok_core", "cok_controller"], function ($, _, cok_core, cok_controller) {
    $(function () {
        var _user = cok_controller.checkedUser();
        var token = _user.token;
        var renderUsers = function () {
            cok_core.call("user.getUserList", {token: token}, function (result) {
                cok_core.render ($("#userCase tbody"), "userList", {data: result[0]});
            });
        }

        renderUsers();
        // add fried
        $('#userCase').on('click', '.addFriendBtn', function () {
            var btn = $(this);
            var _id = btn.attr('data-id');
            cok_core.call("user.addFriend", {token: token, _id: _id}, function (result) {
                renderUsers();
            });
        });

        // remove friend
        $('#userCase').on('click', '.delFriendBtn', function () {
            var btn = $(this);
            var _id = btn.attr('data-id');
            cok_core.call("user.deleteFriend", {token: token, _id: _id}, function (result) {
                renderUsers();
            });
        });
    });
});
</script>
<div id="userCase" class="sub-container">
    <table class="table table-striped table-hover"><tbody></tbody></table>
</div>
