<script>
    require (["jquery", "lodash", "cok_core", "cok_controller"], function ($, _, cok_core, cok_controller) {
    $(function () {
        var _user = cok_controller.checkedUser();
        var token = _user.token;
        var chatTable;
        var renderUsers = function () {
            cok_core.call("user.getUserList", {token: token}, function (result) {
                chatTable = new cok_core.tableRender("userList", $("#userCase tbody"), result[0], {}, 10);
                chatTable.render();
            });
        }

        renderUsers();
        // add fried
        $('#userCase').on('click', '.addFriendBtn', function () {
            var btn = $(this);
            var _id = btn.attr('data-id');
            cok_core.call("user.addFriend", {token: token, _id: _id}, function (result) {
                renderUsers();
            });
        });

        // remove friend
        $('#userCase').on('click', '.delFriendBtn', function () {
            var btn = $(this);
            var _id = btn.attr('data-id');
            cok_core.call("user.deleteFriend", {token: token, _id: _id}, function (result) {
                renderUsers();
            });
        });
        
        
        // search
        var userSearch = function () {
            var searchField = $('#searchField').val();
            if (! chatTable) {
                return false;
            } else {
                chatTable.search(searchField, 'login');
                return false;
            }
        }
        $('.cokSearch').on('click', '#searchBtn', function () {
            userSearch();
        });
        
        
    });
});
</script>
<div id="userCase" class="sub-container">
    <div class="row">
        <div class="col-md-1"><a class="btn btn-primary" href="#!/chat/create"><span class="glyphicon glyphicon-file"></span> Add</a></div>
        <div class="col-md-8"><div class="cokPager"></div></div>
        <div class="col-md-3"><div class="cokSearch"></div></div>
    </div>
    <table class="table table-striped table-hover"><tbody></tbody></table>
</div>
