{{#data}}
<div class="sub-container" id="defaultIndex">
    <div class="row">
        <div class="col-md-3">
            <img src="/images/users/{{picture}}" alt="" class="img-thumbnail">
            <br><br>
            <button id="showPicModal" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-arrow-up"></span>
                Change picture
            </button>
        </div>
        <div class="col-md-9">
            <br>
            <p>{{login}}</p>
            <p>{{email}}</p>
        </div>
    </div>
</div>
{{/data}}